/*About section*/
.about-text{
    color: darkslategray !important;
    font-size: smaller !important;
    line-height: 22px !important;
    white-space: pre-line !important;
}

/*Timeline section*/
.resume-timeline .timeline-content .timeline-title {
    font-size: 16px !important;
    font-weight: 500 !important;
}

.resume-timeline .timeline-content .timeline-date {
    color: darkslategray;
}

.resume-timeline .timeline-content .timeline-description {
    color: gray;
    font-size: small;
    margin-top: 6px;
    white-space: pre-line !important;
}

/*Services section*/

.service {
    height: 100%;
    text-align: center;
}

.service .service-title {
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 35px !important;
    text-align: center !important;
}

.service .service-description {
    color: #989898 !important;
    border-color: var(--main-color) !important;
    margin-right: 5px !important;
    text-align: center;
}

.service-icon > .MuiSvgIcon-root {
    font-size: 46px !important;
    margin-left:  0 !important;
    font-weight: 300 !important;
    color: darkslategray !important;
}

/*Skills section*/

.skill {
    border-radius: 8px !important;
    padding: 20px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08) !important;
    min-height: 186px !important;
    height: 100% !important;
}

.skill .skill-title {
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 35px !important;
}

.skill .skill-description {
    display: flex !important;
    align-items: center !important;
    color: #989898 !important;
    font-weight: 400 !important;
    line-height: 18px !important;
}

.skill .skill-description .timeline-dot {
    border-color: var(--main-color) !important;
    padding: 2px !important;
    margin-right: 5px !important;
}

/*Contact Section*/

.contact-info-item {
    font-size: 14PX !important;
    font-weight: 500;
    line-height: 34px !important;
}

.contact-info-item > span {
    color: black;
    font-weight: 500;
}

.contact-info-socials-container {
    margin-top: 15px;
}

.contact-info-social > a > .MuiSvgIcon-root {
    font-size: 16px !important;
    margin-right: 10px !important;
    color: black !important;
}