.footer {
    background-color: var(--main-color);
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    border-radius: 8px;
    padding: 20px 25px;
}

.footer .footer-copyright {
    font-size: small;
    text-align: end;
    color: #fafafa;
}

.footer .footer-copyright > a {
    text-decoration: none !important;
    color: var(--sec-color);
}