:root {
    --main-color: #5D6D7E;
    --sec-color: whitesmoke;
}

/*Margings and padding*/

.top-60 {
    margin-top: 60px !important;
}

.top-30 {
    margin-top: 30px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.p-30 {
    padding: 30px !important;
}

.pb-30 {
    padding-bottom: 45px !important;
}

.pb-45 {
    padding-bottom: 45px !important;
}

.p-50 {
    padding: 50px !important;
}

.pt-45 {
    padding-top: 45px !important;
}

@media (max-width:991px) {
    .top-60 {
        margin-top: 30px !important;
    }
}

/*End of margings and padding*/

.containter-shadow {
    box-shadow: 0px 2px 40px 0px rgba(230, 230, 230, 0.226) !important;
    -webkit-box-shadow: 0px 2px 40px 0px rgba(230, 230, 230, 0.226) !important;
    -moz-box-shadow: 0px 2px 40px 0px rgba(230, 230, 230, 0.226) !important;
}

.main-content {
    background-color: var(--sec-color);
    min-height: 100vh;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    margin-bottom: 30px;
}

.section-title {
    position: relative !important;
    display: inline-block !important;
    padding: 0 3px !important;
}

.section-title .section-title-text {
    font-size: 18px !important;
    font-weight: 600 !important;
    position: relative !important;
    margin: 0 !important;
}

.section-title span {
    position: absolute !important;
    height: 7px !important;
    width: 100% !important;
    bottom: 0 !important;
    opacity: 0.4 !important;
    left: 0 !important;
    background-color: var(--main-color) !important;
}

.section {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.gray-bg {
    background-color: #fafafa !important;
}